* {
    font-family: "Lucida Grande", Arial, sans-serif;
    color: rgb(80,80,80);
}

#comment-box {
    display: flex;
    justify-content: center;
}



.card {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 290px;
    border-radius: 12px;
    box-shadow: rgba(50,50,50,0.25) 0 6px 12px -3px, rgba(0,0,0,0.3) 0 3px 7px -3px;
    position: relative;
    opacity: 0.4;
    transform: scale(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}


.card .image-container {
    width: 89px;
    height: 89px;
    border-radius: 43px;
    overflow: hidden;
    
}

.card .image-container img {
    height: 100%;
}

.card .name-container {
    position: absolute;
    bottom: 0;
    background-color: rgb(229, 211, 245); 
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.card p {
    padding: 0 20px;
}


.active {
    opacity: 1;
    transform: scale(1, 1);
    transition: all 0.3s ease-in-out;
}
